apscheduler==3.8.1
black==21.9b0
dis-snek==1.2.2
dnspython==2.1.0
httpx==0.20.0
motor==2.5.1
orjson==3.6.4
pip-chill==1.0.1
psutil==5.8.0
python-dotenv==0.19.1
pyxtension==1.13.16
requests==2.26.0
varname==0.8.1
